/* Estilos para o cabeçalho */
header {
    background-color: #27374D;
    color: #fff;
    position: relative;
    padding: 20px;
    display: fixed;
    margin: 0;
  }
  body{
    background-color: #DDE6ED;
  }
  .titulo{
    justify-content: center;
    background-color: #9DB2BF;
  }
  .prin{
    width: 400px;
    margin-left: 40px;
  }
  .logo{

    margin: 20px;
  }
  header h1 {
    margin: 0;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-items: 20px;
    justify-content: end;
    justify-content: space-between 80px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  .top{
    width: 490px;
    margin-left: 1000px;
  }
  .tit2{
    
    margin-top: -400px;
    margin-right: 510px;
    margin-left: 100px;
    
    display: flex;
    position: relative;
    line-height: 40px;
    text-align: center;
  }
  .textoprincipal{
    margin-top: -400px;
    margin-right: 50px;
    margin-left: 500px;
    
    display: flex;
    position: relative;
    line-height: 40px;
    text-align: center;
  }
.titprinc{
  background-color: #3f7cd2;
}


























  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos para o conteúdo principal */
  main {
    padding: 20px;
  }
  
  /* Estilos para o rodapé */
  footer {
    background-color: #27374D;
    color: #fff;
    padding: 20px;
    text-align: center;
  }